# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
 
# Google reCAPTCHA — this is Google's official test key (always passes in dev)
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
 
# Portal API Gateway URL — replace after sam deploy
NEXT_PUBLIC_PORTAL_API_URL=
 